.footer {
    background-color: $black-bg-color;
    // padding-top: 60px;
    // padding-bottom: 60px;
}
.section-footer {
    display: inline-block;
    text-align: center;
    // display: flex;
    // align-items: baseline;
}
.footer__logo {
    display: inline-block;
    margin-bottom: 28px;
    color: $white-text-color;
}
.footer__leftpart-logo {
    color: $accent-color;
}
.footer-nav {
    &__item {

        margin-bottom: 12px;
        // width: 231px;
        // height: 21px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__link {
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;
        font-style: normal;
    }

    &__link:hover, &__link:focus {
        color: $accent-color;
        fill: $accent-color;
    }

    &__adress {
        color: $white-text-color;
    }
}

.container-footer {
    margin-bottom: 60px;
    margin-top: 60px;

    @media screen and (min-width:$mobile) {
        margin-top: 0;
    }
    // margin-left: auto;
}
.footer-slogan {
    color: $main-background-color;
    size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-socials {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    &__icon {
        background-color: rgba(255, 255, 255, 0.1);
        fill: $main-background-color;
    }
}

.signup {
    // display: flex;
    &__email {
        width: calc(100% - 2 * 15px);
        height: 50px;
        padding-left: 15px;
        margin-bottom: 20px;
        // margin-right: 12px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: $black-bg-color;

        @media screen and (min-width:$mobile) {
            width: 450px;
        }
    }

    &__email:focus-visible {
        color: $main-background-color;
    }

    &__text {
        // margin-right: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--main-background-color);
    }
}

.footer-conteiner--flex {
    @media screen and (min-width:$mobile) and (max-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
}